<!--Banner Wrap Start-->
<div class="kf_party_banner">
    <ul class="party_main_banner">
        <% for(var i = 0; i < images.length; i++){ %>
        <li>
            <img src="https://docs.google.com/uc?id=<%= images[i].gid %>" alt="<%= images[i].description %>">
        </li>
        <% } %>
    </ul>
    <search settings="settings" return-start="{{true}}" show-results="displayResults"></search>
</div>
<!--Banner Wrap End-->
<!--Sugested Places-->
<div class="container-fluid">
    <div class="ndn-suggested row">
        <h2>Lugares Sugeridos</h2>
        <% for(var i = 0; i<suggesteds.length; i++){
            var place = suggesteds[i];
            %>
        <div class="ndn-suggested-item col-xs-12 col-md-3">
            <div class="thumbnail">
                <img src="https://docs.google.com/uc?id=<%= place.imageid %>" alt="<%= place.shortdesc %>">
                <div class="caption">
                    <h3><%= place.name %></h3>
                    <p><%= place.shortdesc %></p>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
<!--End Sugested Places-->
<!--Party Content Wrap Start-->
<div class="kf_party_content">
    <!--Schedule Wrap Start-->
    <section class="ndn-events kf_party_schedule_bg">
        <div class="container">
            <div class="kf_heading_1">
                <h2>Eventos Pr&oacute;ximos</h2>
                <span>Mantente al d&iacute;a sobre los eventos m&aacute;s importantes del pa&iacute;s</span>
            </div>
            <!--Schedule List Wrap Start-->
            <div class="row">
                <% if(events.length > 0) { %>
                <div class="col-md-6 no_padding">
                    <div class="kf_party_schedule_day1">
                        <figure><img src="https://docs.google.com/uc?id=<%= events[0].imageid %>" alt="Image Here">
                        </figure>
                        <a href="#"><i class="fa fa-calendar"></i>Eventos</a>
                        <span><a href="/events/<%= events[0].path %>" target="_self"><%= events[0].title %></a></span>
                    </div>
                    
                    <div class="kf_schedule_day1_des">
                        <p><%= events[0].description %></p>
                        <ul>
                            <a href="#"><i class="fa fa-calendar"></i><%= TimeService.formatDate(events[0].start_date) %></a>
                            <!-- <a href="#"><i class="fa fa-clock-o"></i>11.00 - 04.00</a> -->
                        </ul>
                    </div>
                </div>
                <% } %>
                <% for (var i = 1; i < events.length; i++) { %>
                <div class="col-md-3 no_padding">
                    <div class="kf_party_schedule_day_2">
                        <figure>
                            <a href="/events/<%= events[i].path %>" target="_self"><img src="https://docs.google.com/uc?id=<%= events[i].imageid %>" alt="Image Here"></a>
                        </figure>
                        <div class="kf_party_schedule_day_des">
                            <h5><a href="/events/<%= events[0].path %>" target="_self"><%= events[i].title %></a></h5>
                            <ul>
                                <a href="#"><i class="fa fa-calendar"></i><%= TimeService.formatDate(events[i].start_date) %></a>
                                <a href="#"><i class="fa fa-calendar"></i><%= TimeService.formatDate(events[i].end_date) %></a>
                            </ul>
                        </div>
                        
                        <div class="kf_party_schedule_detail">
                            <p><%= events[i].description %></p>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <!--Schedule List Wrap End-->
            
        </div>
    </section>
    <!--Kode-our-speaker-heading End-->
    <div class="kode-blog-style-2">
        <!--KODE_TEAM_BLOG START-->
        <div class="container">
            <h2>Art&iacute;culos</h2>
            <div class="row">
            <% for(var i  = 0; i< articles.length; i++){ 
                var article = articles[i];
                %>
                <div class="col-md-4">
                    <!--TEAM_BLOG_THUMB START-->
                    <div class="kode-team-blog">
                        <figure>
                            <img src="https://docs.google.com/uc?id=<%= article.imageid %>" alt=""/>
                            <a href="#"><i class="fa fa-plus"></i></a>
                        </figure>
                        <div class="kode-thumb-caption">
                            <h4><a href="/blog/articles/<%= article.path %>"><%= article.title %></h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-user"></i><%= article.author %></a></li>
                                <li><a href="#"><i class="fa fa-clock-o"></i><%= TimeService.shortDate(article.created) %></a></li>
                            </ul>
                            <p><%= article.shortdesc %></p>
                            <span><a href="/blog/articles/<%= article.path %>">Leer m&aacute;s</a></span>
                        </div>
                    </div>
                    <!--TEAM_BLOG_THUMB END-->
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <!--KODE_TEAM_BLOG END-->
    <!--Gallery Wrap Start-->
    <section class="kf_party_gallery_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="kf_heading_1">
                        <h2>Galeria</h2>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="kf_party_gallery_nav">
                        <ul id="filterable-item-filter-1">
                            <% for(var i = 0; i<categories.length; i++){
                                var cat = categories[i];
                                %>
                            <li><a data-value="<%=cat.keyname%>" href="#"><%= cat.name %></a></li>
                            <% } %>
                            <li><a data-value="all" href="#">Todo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="filterable-item-holder-1" class="filterable_container">
            <% for(var i =0; i<gallery.length; i++){
                var imgall = gallery[i];
                %>
            <%if(imgall.type == 'img'){ %>
            <div class="col-md-3 col-sm-6 no_padding filterable-item all <%=imgall.category%>">
                <div class="kf_party_gallery party_style_1">
                    <figure>
                        <img src="https://docs.google.com/uc?id=<%= imgall.gid %>" alt="<%=imgall.description%>">
                    </figure>
                    <div class="party_style1_des">
                        <a href="#"><i class="icon-magnifier13"></i></a>
                    </div>
                </div>
            </div>
            <% }else{ %>
            <div class="col-md-3 col-sm-6 no_padding filterable-item all <%=imgall.category%>">
                <div class="kf_party_gallery party_style_1">
                    <figure>
                        <a href="https://www.youtube.com/watch?v=<%= imgall.video %>"><img src="https://img.youtube.com/vi/<%= imgall.video %>/0.jpg" alt="<%=imgall.description %>"></a>
                    </figure>
                    <div class="party_style1_des">
                        <a href="#"><i class="icon-magnifier13"></i></a>
                    </div>
                </div>
            </div>
            <% } } %>
        </div>
        <div class="kf_party_gallery_wrap">
            <a href="#">Ver todos</a>
        </div>
    </section>
    <!--Gallery Wrap End-->
    <section class="kf_party_schedule_bg">
        <div class="container">
            <div class="kf_heading_1">
                <h2>Resultados</h2>
                <span ng-show="results.length > 0">Estos son los lugares que te recomendamos: </span>
            </div>
            <div id="ndn-search-results">
                <ul ng-show="results.length > 0" class="ndn-search-results">
                    <li ng-repeat="result in results">
                        <div class="ndn-result-image">
                            <img src="https://docs.google.com/uc?id={{result.imageid}}" alt="image here">
                        </div>
                        <div>
                            <a class="ndn-result-name" target="_self" href="/places/{{result.path}}"><h4>{{result.name}}</h4></a>
                            <p>{{result.shortdescription}}</p>
                            <a class="ndn-result-phone" target="_self" href="tel:{{result.phone}}"><span>Tel&eacute;fono: </span>{{result.phone}}</a>
                            <a class="ndn-result-seemore" target="_self" href="/places/{{result.path}}">Ver m&aacute;s...</a>
                        </div>
                    </li>
                </ul>
                <span ng-show="results.length == 0">No se encontraron resultados para tu b&uacute;squeda: </span>
            </div>
        </div>
    </section>
    <!--Schedule Wrap End-->
</div>

<div class="kode-blog-style-2">
	<div class="container" ng-app="ndnapp">
		<div class="row">
			<div class="col-md-8" ng-controller="suscriptionController">
                <div class="kode-contact-heading" id="suscribirte">
					<h4>Sucribete</h4>
					<p>Suscribete ya para ser de los primeros en recibir nuestro contenido</p>
					<span class="border-left"></span>
				</div>
				<div class="kode-contact-area col-md-12">
					<div class="alert alert-success" role="alert" id="message" style="display: none">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{message}}
					</div>
                    <form method="post" ng-submit="save()" class="comments-form row">
                    	<div class="row">
                            <div class="col-md-6 col-sm-6">
                            	<input type="email" ng-model="email" id="email" name="email" required class="required email" placeholder="Email" />
                             </div>
                        </div>
						<button class="thbg-color" value="Send Reply">Enviar</button>
                    </form>							
				</div>
			</div>
		</div>
	</div>
</div>