<!--Banner Wrap Start-->
<div class="kf_party_banner">
    <ul class="party_main_banner">
        <li>
            <img src="/images/back.jpg" alt="Image Here">
            <div class="kf_party_banner_caption">
                <h4>Iniciamos el 16 de Diciembre del 2017</h4>
                <h2>Nicaragua de Noche</h2>
                <p>Actualmente estamos construyendo nuestro sitio, pero puedes suscribirte desde ya</p>
                <a href="#suscribirte">Subcribirme</a>
            </div>
        </li>
    </ul>
</div>
<!--Banner Wrap End-->
<!--Party Content Wrap Start-->
<div class="kf_party_content">
    <!--Great Party Event Wrap Start-->
    <section class="kf_great_party_bg">
        <div class="container">
            <div class="kf_great_party">
                <h4>2017</h4>
                <h3>Empieza el vacanal!</h3>
                <ul class="countdown">
                    <li>
                        <span class="days">4</span>
                        <p class="days_ref">days</p>
                    </li>
                    <li>
                        <span class="hours">23</span>
                        <p class="hours_ref">hours</p>
                    </li>
                    <li>
                        <span class="minutes">3</span>
                        <p class="minutes_ref">minutes</p>
                    </li>
                    <li>
                        <span class="seconds last">23</span>
                        <p class="seconds_ref">seconds</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--Great Party Event Wrap End-->
    <!--Schedule Wrap Start-->
        <section class="kf_party_schedule_bg">
            <div class="container">
                <div class="kf_heading_1">
                    <h2>Eventos Pr&oacute;ximos</h2>
                    <span>Mantente al d&iacute;a sobre los eventos m&aacute;s importantes del pa&iacute;s</span>
                </div>
                <!--Schedule List Wrap Start-->
                <div class="row">
                    <div class="col-md-6 no_padding">
                        <div class="kf_party_schedule_day1">
                            <figure>
                                <img src="/images/events/<%= events[0].path %>.jpg" alt="Image Here">
                            </figure>
                            <a href="#"><i class="fa fa-calendar"></i>Eventos</a>
                            <span><%= events[0].title %></span>
                        </div>
                        
                        <div class="kf_schedule_day1_des">
                            <p><%= events[0].description %></p>
                            <ul>
                                <a href="#"><i class="fa fa-calendar"></i><%= TimeService.formatDate(events[0].start_date) %></a>
                                <!-- <a href="#"><i class="fa fa-clock-o"></i>11.00 - 04.00</a> -->
                            </ul>
                        </div>
                        
                    </div>
                    <% for (var i = 1; i < events.length; i++) { %>
                    <div class="col-md-3 no_padding">
                        <div class="kf_party_schedule_day_2">
                            <figure>
                                <img src="/images/events/<%= events[i].path %>.jpg" alt="Image Here">
                            </figure>
                            <div class="kf_party_schedule_day_des">
                                <h5><%= events[i].title %></h5>
                                <ul>
                                    <a href="#"><i class="fa fa-calendar"></i><%= TimeService.formatDate(events[i].start_date) %></a>
                                    <a href="#"><i class="fa fa-calendar"></i><%= TimeService.formatDate(events[i].end_date) %></a>
                                </ul>
                            </div>
                            
                            <div class="kf_party_schedule_detail">
                                <p><%= events[i].description %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <!--Schedule List Wrap End-->
                
            </div>
        </section>
        <!--Schedule Wrap End-->
</div>

<div class="kode-blog-style-2">
	<div class="container" ng-app="ndnapp">
		<div class="row">
			<div class="col-md-8" ng-controller="suscriptionController">
                <div class="kode-contact-heading" id="suscribirte">
					<h4>Sucribete</h4>
					<p>Suscribete ya para ser de los primeros en recibir nuestro contenido</p>
					<span class="border-left"></span>
				</div>
				<div class="kode-contact-area col-md-12">
					<div class="alert alert-success" role="alert" id="message" style="display: none">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{message}}
					</div>
                    <form method="post" ng-submit="save()" class="comments-form row">
                    	<div class="row">
                            <div class="col-md-6 col-sm-6">
                            	<input type="email" ng-model="email" id="email" name="email" required class="required email" placeholder="Email" />
                             </div>
                        </div>
						<button class="thbg-color" value="Send Reply">Enviar</button>
                    </form>							
				</div>
			</div>
		</div>
	</div>
</div>