<div class="content">
	<!-- Kode-Header End -->
	<div class="sub-header">
		<!-- SUB HEADER -->
	</div>
	<!-- Kode-Slider End -->
    
	<!--Kode-our-speaker-heading start-->
	<div class="Kode-page-heading">
		<div class="container">
			<!--ROW START-->
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h2><%= place.name %></h2>
				</div>
				<div class="col-md-6 col-sm-6">
					<ul>
						<li>
							<a href="#"><i class="fa fa-home"></i>Inicio</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-angle-right"></i>Lugares</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-angle-right"></i><%= place.name %></a>
						</li>
					</ul>
				</div>
			</div>
			<!--ROW END-->
		</div>
	</div>
	<!--Kode-our-speaker-heading End-->
    
	<div class="kode-blog-style-2">
    
		<div class="container">
			<div class="row">
            
				<div class="col-sm-12 col-md-10 center-block">
					<!--KODE-EVENT-CONTER-SECTION START-->
					<div class="kode_event_counter_section">
						<figure>
							<img src="https://docs.google.com/uc?id=<%= place.imageid %>" alt="">
						</figure>
						
					</div>
					<!--KODE-EVENT-CONTER-SECTION END-->
                    
					<!--KODE_EVENT_CONTER_CAPSTION START-->
					<div class="kode_event_conter_capstion">
						<h2><%= place.name %></h2>
						<% if(place.video && place.video != ''){ %>
						<iframe width="560" height="315" src="<%= place.video %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						<% } %>
						<div class="counter-meta">
							<ul class="info-event">
								<li><i class="fa fa-map-phone"></i><a href="#">Telefono: <span><%= place.phone %></span></a></li>
								<li><i class="fa fa-marker"></i><a href="#">Direccion <span><%=place.address %></span></a></li>
							</ul>
						</div>
					</div>
					<!--KODE_EVENT_CONTER_CAPSTION END-->
                    <div class="other-events">
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="kode-event-place-holder-capstion">
                                    <p><%= place.description %></p>
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>
                    </div>
					<% if(place.images && place.images.length > 0) { %>
					<div class="other-events">
						<div class="ndn-image-preview">
							<img src="" alt="">
						</div>
						<h3>Fotos del lugar</h3>
                        <div class="row ">
							<% for(var i = 0; i < place.images.length; i++){
								var image = place.images[i];
								%>
                            <div class="col-xs-6 col-md-3">
								<a href="https://docs.google.com/uc?id=<%= image.gid %>" data-alt="<%= image.description %>" class="thumbnail ndn-preview">
									<img src="https://docs.google.com/uc?id=<%= image.gid %>" alt="<%= image.description %>">
								</a>
							</div>
							<% } %>
                        </div>
                    </div>
					<% } %>
				</div>
        	</div>    
    	</div>
	</div>
</div>
<script>
	function initMap() {
		var uluru = {lat: <%= place.location.latitude %>, lng: <%= place.location.longitude %>};
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 4,
			center: uluru
		});
		var marker = new google.maps.Marker({
			position: uluru,
			map: map
		});
	}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHtTZ9gdE30Emmhaz017RH0RjpshLtujc&callback=initMap">
</script>
